.SideBar
  .SideBar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icon
        -# =link_to "#", class: "top-items__icon__a" do
        -#   = icon('fas', 'edit')
        .top-items__icon__a
          = link_to edit_user_path(current_user) do
            = icon('fas', 'edit')
        -# =link_to "#", class: "top-items__icon__b" do
          = icon('fas', 'cog')
        .top-items__icon__b
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
          
  .SideBar__grouplist
    .group
      =link_to "#", class: "group__name" do
        名前
      =link_to "#", class:"group__message" do
        こんにちは


        